/auto-save-list/
/custom.el
/custom.el~
/eln-cache/
/elpa/
/eshell/
/init.el~
/speed-type/
/tutorial
/tutorial~
/transient/
/url/
/tramp
/#*#
*~
.#*
.local/
/bookmarks
/ido.last
/multisession/
/projects
/recentf
/tree-sitter/
